

form {
    width: 500px;
    margin: 40px auto;
}

label {
  margin: 7px
}

input[type="text"], input[type="email"], input[type="tel"] {
    /* height and width */
    height: 40px;
    width: 450px;

    /* font size and color */
    font-size: 15px;
    color: #D1D5CC;
    
    /* border details */
    border: none;
    border-radius: 4px;

    background-color: #333333;

    /* margins and paddings */
    padding-left: 10px;
    margin-bottom: 30px;
}

textarea {
    /* height and width */
    width: 450px;
    max-width: 450px;
    min-width: 450px;
    height: 40px;
    min-height: 40px;
    max-height: 400px;

    /* font size and color */
    font-size: 15px;
    color: #D1D5CC;
    
    padding-left: 10px;

    border: none;
    border-radius: 4px;
    background-color: #333333;
    
    
    
    margin-bottom: 30px;
}

select {
    /* height and width */
    height: 35px;
    width: 200px;
    

    display: block;
    background-color: #333333;
    color: #D1D5CC;

    /* border details */
    border: none;
    border-radius: 5px;
    
    
    margin-bottom: 20px;
}

button {
    /* height and width */
    height: 40px;
    width: 60px;

    /* backgound color */
    background-color: #333333;

    /* font color */
    color: #D1D5CC;

    /* border details */
    border: 1px solid #4e4e4e;
    border-radius: 4px;
}