@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
  /* user cannot select text or any content */
  user-select: none;

  /* user cannot drag images or any content */
  -webkit-user-drag: none;


  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: #151515;
  color: #EEEEEE;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}



a {
  text-decoration: none;
  color: none;
  outline: none;
}

a:visited {
  text-decoration: underline;
  color: none;
  outline: none;
}




td {
  /* border: 1px solid #333;
   */
  /* background-color: lightgrey; */
  border: 0px;
  padding: 0px;
  margin: 0px;
  background-color: rgb(230, 230, 230);
  
  border-radius: 22px;
  color: black;
  justify-content: center;
  align-content: center;
  text-align: center;
}

thead,
tfoot {
  background-color: #333;
  color: #fff;
}



.SeachField {
  border-radius: 5px;
  background-color: #050504;
  margin-top: 10px;
  margin-left: 30px;
  height: 20px;
  place-content: "hello";
  color: white;
}


p {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

form {
  width: 500px;
  
  margin: 40px auto;
}

label {
  margin: 7px
}

.conactPage {
  display: flex;
  /* text-align: center; */
  /* align-content: center; */
  justify-content: center;
  margin: 20px auto;
  /* border-spacing: 20px; */
  /* padding: 20px; */
}

.contactInfo {
  /* border-color: #10d358; */
  border: 1px solid gray;
  border-radius: 22px;
  width: 400px;
  margin: 0px 50px;
  padding: 20px;
}

.contactIcon {
  /* filter: brightness(100%); */
  filter: invert(100%);
  width: 60px;
}

input[type="text"], input[type="email"], input[type="tel"] {
  width: 450px;
  font-size: 15px;
  
  /* width: 2000px; */
  padding-left: 10px;
  border-radius: 4px;
  background-color: #333333;
  border: none;
  height: 40px;
  color: #D1D5CC;
  margin-bottom: 30px;
}

textarea {
  width: 450px;
  max-width: 450px;
  min-width: 450px;
  height: 40px;
  min-height: 40px;
  max-height: 400px;
  
  font-size: 15px;
  
  /* width: 2000px; */
  padding-left: 10px;
  border-radius: 4px;
  background-color: #333333;
  border: none;
  
  color: #D1D5CC;
  margin-bottom: 30px;
}

select {
  display: block;
  background-color: #333333;
  color: #D1D5CC;
  border-radius: 5px;
  border: none;
  width: 200px;
  height: 35px;


  margin-bottom: 20px;
}



button {
  height: 40px;
  width: 60px;
  background-color: #333333;
  border: 1px solid #4e4e4e;
  

  color: #D1D5CC;
  border-radius: 4px;
}
/* h1 {
  color: #D5D1CC;
} */

.intro {
  width: 800px;

  margin: 10px auto;
}

.crossedword {

  color: grey;
  margin-top: 10px;
  font-size: 25px;
  margin-bottom: 1px;
}

.correctedWord {
  color: #dd0d0d;
  margin-top: 1px;
  margin-bottom: 10px;
  font-size: 25px;
}



.LiveStickers {
  font-size: 50px;
  margin: 0px;
  display: inline;
}

.CheckIn {
  margin: 0px;
}

.checkInImage {
  margin: 0px;
}



.coverimage  {
  margin: 20px auto;
  text-align: center;
  border-radius: 20px;
}

.coverimage img  {
  border-radius: 20px;
}

.maingheading {
  text-align: center;
  /* margin-left: 50px; */
}

.matchesTable {
  /* justify-content: center; */
  margin: 0 auto;
}

.popup {
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 40%;
  left: 18%;
  text-align: center;
  color: #333;
  /* display: none; */
}
